*{
    margin:0;
    padding:0;
}/* App.css */

.app-container {
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  font-size: 2.6rem; /* Tailwind's text-4xl */
  font-weight: 700;
  letter-spacing: 1px;
  /* margin-bottom: 2.5rem; */
  text-align: center;
  line-height: 1;
  color: black; /* Tailwind's gray-800 */
}

.phone-wrapper {
  position: relative;
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}

/* .phone-frame {
  width: 13rem; 
  height: 24rem; 
  /* background-color: black; */
  /* Tailwind's rounded-3xl
  overflow: hidden; */
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); */
/* } */ 

.phone-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


/* Overview.css */

/* .overview-section {
  background-color: #ffffff; 
  padding: 4rem 2rem;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.overview-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111827; 
}

.overview-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #4b5563; 
  font-weight: 400;
} */


.overview-section {
  text-align: center;
  padding: 60px 20px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overview-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 20px;
}

.overview-text {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

.localized-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  background-color: #fff;
  flex-wrap: wrap;
} 
.phone-container {
  flex: 1;
  display: flex;
  justify-content: center;
  /* max-width: 400px; */
} 

.img{
  width: 100%;
  margin: auto;
  height:90vh;
  max-width: 100%;
  /* max-height: 100%; */
  /* border-radius: 30px;  */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
}

.text-container {
  flex: 1;
  padding: 20px 40px;
  /* max-width: 600px; */
}

.heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}

.highlight {
  background: linear-gradient(90deg, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}


